body{
  background-color: rgb(47, 47, 47);
}

.container {
    margin: 1cm;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #778899;
    text-align: center;
    font-size: 16px;
}

.nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.nav > li {
  float: left;
  display: block;
}

.nav > li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

/* Change the link color to #111 (black) on hover */
.nav > li a:hover {
  color: rgb(122, 0, 0);
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: verdana;
  border: none;
  outline: none;
  letter-spacing: 2px;
}

li {
  background-color: #778899;
  text-align: center;
  display: flex;
  margin-top: none;
}

body {
  font-size: 14px;
  display: flex
}

p{
  font-size: 16px;
  text-transform: none;
  text-align: left;
  text-indent: 10%;
  line-height: 30px;
}

h1{
  font-size: 21px;
  color: white;
  text-align: left;
}

.nav{
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.nav > li {
  text-align: center;
}

body{
  display: flex;
  align-items: center;
  margin-top: 55pt;
}