{% extends "base.html" %} 
    {% block head %}
    
    <head>  
        <style media = "screen">
        
        </style>
        <link href="{{ url_for('static', path='/css/comments.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', path='/js/comments.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        </head>
        <title>Comments</title>
    {% endblock %} 
    {% block content %}
    <body>
        <h1>Comment Section</h1>
        <div class = "container">
            <input type = "text" id = "input" placeholder = "How do you feel about crypto today?">
            <button type = "button" name = "button" id = "cancel">cancel</button>
            <button type = "button" name = "button" id = "comment">comment</button>
            
            <div class = "box-container">
            <div class = "box"></div> 
            <button type = "button" name = "button" id = "delete">delete</button>
            </div> 
            </div>
            
            
            <script type="text/javascript">
            
            $(document).ready(function(){
            
              $("#comment").click(function(){
                var input = $("#input").val();
                $('.box').append(input + "<br>");
                $("#input").val("");
                $(".box-container").slideDown();
                
              });
              $("#cancel").click(function(){
                $("#input").val("");
              });
            
              $("#delete").click(function(){
                $(".box").text("");
                $(".box-container").slideUp();
              });
            });
            
            </script>
    </body>
        
    {% endblock %}
