{% extends "base.html" %} 


{% block head %}
<link href="{{ url_for('static', path='/css/greed_and_fear.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', path='/js/greed_and_fear.js') }}"></script>
<title>Fear and Greed</title>
{% endblock %} 

{% block content %}
<h1>Fear and Greed Index</h1>
<body>
    <script> const URL = "https://api.alternative.me/fng/";
    
    async function indexCall(){
        const result = await fetch(URL)
        result.json().then(data =>{
            console.log(data)
        })
    }
    
    indexCall()
    </script>
    <div id='fng'></div>
    <br><br>
        <p>&#x2022; 0 - 49 indicates fear</p>
        <br>
        <p>&#x2022; 50 indicates neutral</p>
        <br>
        <p>&#x2022; 51 - 100 indicates greed</p>
</body>
{% endblock %}

